/* app css stylesheet */

body {
  padding-top: 20px;
}

.imgContainer {
  display: block;
  width: 100%;
  height: 100%;
  /*background: red;*/
}
.imgMain {
  float: left;
  display: block;
  background: green;
  width: 470px;
  height: 300px;
}
.imgThumbContainer {
  float: left;
  display: block;
  background: rgb(168, 168, 168);
  width: 450px;
  height: 314px;
  margin-left: 20px;
  overflow: scroll;
}
.mainImg {
  width: 100%;
  height: 100%;
}
.imgThumbnails {
  float: left;
  width: 130px;
  height: 130px;
  margin: 0 0 10px 10px;
}
