
<div class="container" >
  <div class="imgContainer clearfix">
    <div class="imgMain">
      <img class="mainImg" ng-src="{{contact.imageMain}}"/>
    </div>
    <div class="imgThumbContainer" ng-repeat="thumbs in contact.imageThumbnails">
      <img class="imgThumbnails" ng-src="{{thumbs}}"/>
    </div>
  </div>
  <p>Name: {{contact.name}}</p>
  <p>Nickname: {{contact.nick}}</p>
  <p>Gender: {{contact.gender}}</p>
  <p>Hobbies are: <span ng-repeat="hobby in contact.hobbies">{{ hobby }} </span></p>
<!--   <p>{{contact}}</p> -->
</div>